@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    .page {
        height: 97vh;
        align-content: center;
    }
    .AboutMe {
        display: flex;
        justify-content: center;
        margin:auto;
    }

    .profile-icon{
        max-width: 700px;
        min-width: 400px;
        margin-right: 12px;
    }

    .profile-description {
        align-content: center;
        max-width: 800px;
        text-align: left;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .AboutMe {
        margin-top: 30px;
        text-align: center;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 24px;
    }
}
