@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px
}

.body {
  height: 97vh;
}

.hero {
  height: 100%;
}

.banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 97vh;
  width:100%;
  background-image: url(../../public/images/austin-skyline-lady-bird-town-lake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.circular-image { 
  border-radius: 50%;
}

.divider {
  width: 80%;
}

@media (max-width: 768px) {
  .AboutMe {
    margin-top: 30px;
    height: 97vh;
    text-align: center;
  }
}

.AboutMe {
  height: 97vh;
}

.Education {
  height: 100vh;
  margin-top: 3rem;
}

.Experience {
  margin-top: 3rem;
}

.Experience .experience-section {
  margin-right: 240px;
}

.ExperienceCard {
  width: 80%;
  margin-bottom: 24px;
}

.ExperienceCard .leftColumn {
  width: 50%;
  padding-right: 36px;
}

.ExperienceCard .rightColumn {
  width: 50%;
}

.row {
  display: flex;
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.width-40 {
  width: 40vw;
}

.mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-centered {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.Projects {
  margin-top: 3rem;
  height: 100vh;
}

.Projects .left-column {
  position: relative;
  width: 50%;
  padding-right: 36px;
}

.Projects .right-column {
  width: 50%;
}

.project-image {
  margin-top: 36px;
  border-radius: 5%;
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: none;
}

.ProjectCard { 
  width: 80%;
  margin-bottom: 24px;
}

.icon-container {
  margin-top: 24px;
}

.icon-linkedin {
  margin-right: 24px;
}

footer {
  padding-bottom: 24px;
  padding-top: 24px;
  background-color: black;
  color: white;
}