@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    position: relative;
    min-height: 100%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 20px
  }

footer {
  bottom: 0;
  padding: 24px 12px;
  background-color: black;
  color: white;
}

.body {
  height: 97vh;
}

.hero {
  height: 100%;
}

.circular-image { 
  border-radius: 50%;
}

.divider {
  width: 80%;
}

.Experience {
  margin-top: 3rem;
}

.Experience .experience-section {
  margin: auto;
}

.ExperienceCard {
  width: 80%;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 12px;
}

.ExperienceCard .leftColumn {
  margin-bottom: 24px;
}

.ExperienceCard .rightColumn {
}

.justify-end-column {

}

@media (min-width: 768px) {
  .ExperienceCard {
    width: 700px;
    display: flex;
    margin-bottom: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
  }
  
  .ExperienceCard .leftColumn {
    width: 40%;
    padding-right: 36px;
  }
  
  .ExperienceCard .rightColumn {
    width: 60%;
  }

  .justify-end-column {
    display: flex;
    justify-content: flex-end;
  }
}

.Education {
  height: 100vh;
  margin-top: 3rem;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.width-40 {
  width: 40vw;
}

.mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-centered {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width:0px) and (max-width: 768px) {
  .Projects {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 24px;
  }

  .project-image {
    border-radius: 5%;
    height: 100px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: none;
  }
}

@media (min-width: 768px) {
  .Projects {
    margin-top: 3rem;
  }

  .Projects .left-column {
    position: relative;
    width: 50%;
    padding-right: 36px;
  }
  
  .Projects .right-column {
    width: 50%;
  }  

  .ProjectCard { 
    width: 80%;
    margin-bottom: 24px;
    display: flex;
  }
}

.project-image {
  margin: auto;
  margin-top: 36px;
  border-radius: 5%;
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: none;
}

.icon-container {
  margin-top: 24px;
}

.icon-linkedin {
  margin-right: 24px;
}