@tailwind base;
@tailwind components;
@tailwind utilities;

.circular-image { 
  border-radius: 50%;
}

.nav-bar {
  display: inline-block;
}

.AboutMe {
  height: 97vh;
}

.row {
  display: flex;
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.width-40 {
  width: 40vw;
}

.content-centered {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
