@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .nav-bar {
        justify-content: flex-end;
    }
  }
  
.nav-bar {
    display: flex;
    height: 3vh;
  }